<article class="unit-article layout-post">
	<div class="unit-inner unit-article-inner">
		<div class="content">
			<header>
				<div class="unit-head">
					<div class="unit-inner unit-head-inner">
						<h1 class="h1 entry-title">{{ page.title }}</h1>
					</div><!-- unit-inner -->
				</div><!-- unit-head -->
			</header>

			<div class="bd">
				<div class="entry-content">
					{{ content }}
					<div class="meta">
					    <span class="date-publish"> — 写于 {{ page.date | date: '%F'}} ; {{ page.content | number_of_words }}</span>
					</div><!-- meta -->
				</div><!-- entry-content -->
				<div class="misc-content">				
					{% include JB/comments %}
				</div><!-- misc-content -->
				
			</div><!-- bd -->

		</div><!-- content -->
	</div><!-- unit-inner -->
</article>
