* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    max-width: 700px;
    padding: 0 0 0 0;
    font: 400 16px/1.7 Georgia, "Xin Gothic", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    color: #444;
    margin: 0 auto;
    overflow-x: hidden;
}

a:link {
  color: #2d2d2d;
  text-decoration: none;
  border-bottom: 1px dotted #99cc99;
}
a:visited {
  color: #141414;
  text-decoration: none;
  border-bottom: 1px dotted #77bb77;
}
a:hover {
  color: #474747;
  text-decoration: none;
  border-bottom: 1px dotted #bbddbb;
}

.mod-head {
    margin-top: 40px;
    margin-bottom: 60px;
    position: relative;
}

.mod-footer {
    margin-top: 50px;
    padding-bottom: 10px;
    color: #888;
    font-size: 13px;
    font-family: Optima,"Helvetica Neue",sans-serif;
}

.mod-archive {
}

.mod-archive__list li {
    line-height: 30px;
    margin-bottom: 2px;
}

.mod-archive__year {
    color: #999;
    font-family: Courier, Menlo, Monaco, Consolas, "Courier New", monospace;;
}

.mod-archive__time {
    color: #666;
    font-family: Courier, Menlo, Monaco, Consolas, "Courier New", monospace;;
    font-size: 14px;
}

.mod-post__title {
    font-size: 30px;
}

.mod-post__meta {
    margin-bottom: 30px;
    font-size: 14px;
    color: #777;
    line-height: 2em;
}

.mod-post__entry {
    font-size: 18px;
    text-align: justify;
}

.mod-post__entry p {
    margin-top: 0;
    margin-bottom: 30px;
}

.mod-post__entry strong {
    color: #000;
    font-weight: normal;
}

.mod-post__entry img {
    max-width: 100%;
}

.mod-post__entry h1{
    font-size: 22px;
}

.mod-post__entry h2 {
    font-size: 19px;
}

.mod-comment {
}



#ds-reset .ds-powered-by {
  display: none;
}