<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
	<title>{{ page.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css?body=1" type="text/css" media="all">
  </head>

  <body>
    <header class="mod-head">
	  <a href="{{ site.baseurl }}/">{{ site.title }}</a>
	</header>
	
	<div>
      {{ content }}
    </div>

	<footer class="mod-footer" role="contentinfo">
      <p>&copy; Copyright 2008 - {{ site.time | date: '%Y' }} by {{ site.author.name }}.</p>
    </footer>
	
	<!-- Latest compiled and minified JavaScript, requires jQuery 1.x (2.x not supported in IE8) -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.js"></script>
    <script src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
